* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

.menu-list {
    list-style-type: none !important;
}

.footer-sec {
    font-weight: 400;
    font-size: 15px ;
    color: #414141;
    line-height: 30px; 
    padding-top:160px;
}

ul {
    padding-left: 0px !important;
}

.contact-bg {
    background: #F7F7F7;
    padding: 60px;
}

.founder-bottom {
    padding-bottom: 210px;
}


.bg-square::before {
    content: '';
    background: #1AA2DC !important;
    width:50px;
    height:51px;
    position: absolute;
    top: -16px;
    left: -20px;
    z-index: -1;
}

.container{
    max-width: 1280px !important;
    margin-inline: auto;
}

.started-heading {
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
}

.contact-heading {
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #282828;
 
}

.contact-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #737373 !important;
}

.social-media {
    margin-right:8px !important;
}

.ml-6 {
    margin-left: 20px !important;
}

.founder-name {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.bg-grey {
    background:#fafafa
}


.square-top {
    position: absolute;
    width: 267px;
    height: 290px;
    right:24px;
    top: 0px;
    background: #1AA2DC;
}

.square-bottom {
    position: absolute;
    width: 50px;
    height: 51px;
    left: 1165px;
    top: 773px;
    background: #1AA2DC;
}

.news-top {
    padding-top:166px;
}

.news-bottom {
    padding-bottom:193px;
}

.border-left {
    border-left: 1px dashed rgba(0, 0, 0, 0.2) !important;
}

.news-card {
    height: 375px;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.witty-health::after {
    content:''; 
    position:absolute;
    width: 220px;
    height: 9px;
    left: 0px;
    top: 26px;
    background: rgba(162, 0, 0, 0.2);
}

.news-heading {
    font-weight: 400;
    font-size: 35px;
    color: #282828;
    line-height: 42px;
}

.news-description {
    font-weight: 400;
    font-size: 17px;
    color: #414141;
    line-height: 26px;
}

.product-top {
    padding-top:185px;
}

.product-bottom {
    padding-bottom:113px;
}

.product-bg {
    background:#f9f9f9;
}

.ourproduct::after {
    content:'';
    position: absolute;
    width: 222px;
    height: 9px;
    left: 218px;
    top: 31px;
    background: rgba(162, 0, 0, 0.2);
}

.countsec-bg {
    background: #FBFBFB;
}

.pb-77 {
    padding-bottom:77px;
} 

.count-heading {
    font-weight: 500;
    font-size: 25px;
    color: #282828;
    line-height: 40px;
}

.count-num {
    font-weight: 600;
    font-size: 35px;
    color: #1AA2DC; 
    line-height: 42px;
}

.count-description {
    font-weight: 400;
    font-size: 15px;
    color: #737373;
}

a {
    color: #414141 !important;
    text-decoration: none !important;
}
a:hover {
    color:#189FDA !important;
    cursor:pointer;
}



@media (max-width: 662px) {
    .witty-health::after {
      display: none;
    }
    .ourproduct::after {
        display: none;
      }
    .news-heading {
        text-align: center;
    }
    .news-description {
        text-align: center;
    }

   
  }
  @media (max-width: 768px) {
    .count-section {
        text-align: center;
    }
    .news-top {
        padding-top:60px;
    }
    .news-bottom {
        padding-bottom:60px;
    }
    .product-top {
        padding-top:60px;
    }
    .product-bottom {
        padding-bottom:60px;
    }
    .founder-bottom {
        padding-bottom:60px !important;
    }
    .footer-sec {
        padding-top:80px !important;;
    }
    .news-heading {
        font-size: 24px;
        line-height: 42px;
    }
    .contact-heading {
        font-size: 24px;
        line-height: 42px;
    }
    .contact-bg {
        padding: 40px !important;
    }
  }

.header-list > li {
    list-style: none;
    line-height: 88px;
    font-size: 15px;
    color: #414141;
    font-weight: 400;
    cursor: pointer;
}

.banner-text {
    font-size: 74px;
    line-height: 88px;
    color: #282828;
    font-weight: 600;
    padding-left: 40px;
}

.menu-icons, .close-icons {
    display: block;
    position: absolute;
    right: 30px;
    top: 16px;
}

.banner-section {
    background-color: white;
    padding-top: 115px;
    font-family: 'Poppins', sans-serif;
}

.header {
    background: #F9F9F9;
    font-family: 'Poppins', sans-serif;
}

.banner-left-content {
    width: 50% !important;
    font-style: normal;
    font-weight: 600;
    font-size: 74px;
    line-height: 88px;
    display: flex;
    align-items: center;
    color: #282828;
}

.vertical-div {
    height: 818px;
    width: 267px;
    position: absolute;
    background-color: #1AA2DC;
    right: 0;
}

.banner-image{
    position: relative;
    z-index: 1;
}

.banner-description {
    position: relative;
    width: 50%;
    margin-left: auto !important;
}

.banner-description p {
    color: #414141;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.quotes-image {
    position: relative;
    bottom: -25px;
    left: -65px;
}

.about-section {
    background: linear-gradient(180deg, #FBFBFB 0%, rgba(0, 0, 0, 0) 100%);
}

.about-right-content {
    width: 45%;
}

.about-right-section {
    background-color:#F7F7F7;
    position: relative;
    padding-block: 64px;
}

.witty-health-section::before {
    content: '';
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #1AA2DC;
    left: 40%;
    top: 95%;
    z-index: 1;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1)
}

.witty-health-section {
    display: inline-block;
}

.grid {
    display: grid;
}

.about-inside-empty {
    width: 50px;
    height: 51px;
    background-color: #1AA2DC;
    margin-top: 48.5px;
}

.about-right-content p {
    margin-top: 48.5px;
}

.about-right-content h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #282828;
}

.about-right-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #414141;
}

.about-right-section::before {
    content: '';
    width: 41px;
    height: 41px;
    border: 1px solid #414141;
    position: absolute;
    top: -25px;
    right: 50%;
    display: none;
}

.market-solution-left-side {
    background-color: #F7F7F7;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.market-solution {
    background-color: white;
}

.market-solution-empty-div::before {
    content: '';
    position: absolute;
    width: 234.75px;
    height: 9px;
    background: rgba(162, 0, 0, 0.2);
    bottom: 9px;
}

.market-sol-bg-color {
    width: 267px;
    height: 80px;
    background: #1AA2DC;
    z-index: 0;
    display: none;
}

.market-solution-image {
    object-fit: cover;
}

.see-our-team::before {
    content: '';
    background-color: #1AA2DC;
    position: absolute;
    width: 50px;
    height: 51px;
    z-index: -1;
}

.see-our-team {
    z-index: 0;
}

.market-solution-content-description {
    font-size: 17px;
    line-height: 26px;
    color: #414141;
}

.market-solution-content h3 {
    font-size: 35px;
    line-height: 42px;
    color: #282828;
}

@media screen and (max-width:640px) {
 
    .header-list > li {
        line-height: 35px;
    }

    .banner-text {
        font-size: 28px;
        line-height: 28px;
        padding-left: 0px;
    }

    .banner-left-content {
        width: 100% !important;
    }

    .header-list {
        display: none;
    }

    .header {
        padding-block: 33px;
    }
    .vertical-div {
        display: none;
    }
    .banner-image {
        width: 100%;
    }
   
    .grid {
        grid-template-columns: auto;
    }

    .about-right-section {
        margin-left: 0px;
        padding-block: 30px;
    }

    .about-right-content { 
        width: 100%;
        padding-inline: 16px;
    }

    .header {
        z-index: 3;
    }

    .witty-health-section::before {
        display: none !important;
    }

    .about-right-content p , .about-inside-empty{
        margin-top: 24px;   
    }

    .about-right-section::before {
        display: none;
    }
    .market-solution-content {
        width: 75%;
        padding-block: 30px;
    }

    .banner-section {
        padding-top: 120px;
    }

    .banner-description p {
        font-size: 15px;
        line-height: 27px;
    }

    .market-solution-content h3 {
        font-size: 24px;
        line-height: 30px;
        color: #282828;
    }
    
}

@media screen and (min-width:640px) {

    .banner-left-content {
        width: 100% !important;
    }

    .banner-text {
        font-size: 44px;
        line-height: 60px;
    } 

    .header-list > li {
        line-height: 35px;
    }

    .header-list {
        display: none;
    }
    
    .header {
        padding-block: 30px;
    }

    .vertical-div {
        display: none;
    }

    .banner-image {
        width: 100%;
    }

    .about-right-content { 
        width: 100%;
        padding-inline: 16px;
    }
    .grid {
        grid-template-columns: auto  ;
    }
    
    .header {
        z-index: 3;
    }
    .market-solution-content {
        width: 40%;
        padding-block: 30px;
    }
}

@media only screen and (min-width:768px) {

    .header-list {
        display: none;
    }

    .header-list > li {
        line-height: 88px;
    }
    
    .header-list {
        display: flex;
    }

    .menu-icons {
        display: none;
    }
    .header {
        padding-block: 0px;
    }
    
    .vertical-div {
        display: none;
    }

    .banner-image {
        width: 100%;
    }

    .about-right-content { 
        width: 100%;
    }

    .header {
        z-index: 3;
    }
    .market-solution-content {
        width: 50%;
        padding-block: 30px;
    }
}

@media only screen and (min-width:992px) {
    
    .banner-left-content {
        width: 50% !important;
    }

    .menu-icons {
        display: none;
    }

    .vertical-div {
        display: block;
    }
    
    .banner-image {
        width: 100%;
    }

    .vertical-div {
        height: 650px;
    }

    .banner-description {
        margin-top: 175px !important;
    }

    .vertical-div {
        display: none;
    }

    .about-right-section {
        padding-left: 70px;
    }

    .about-right-content { 
        width: 65%;
    }

    .header {
        z-index: 0;
    }

    .grid {
        grid-template-columns: auto auto !important;
    }

    .about-right-section {
        top: 45px;
    }

    .about-right-section {
        margin-left: -50px;
        padding-inline: 0px;
    }

    .about-right-section {
        padding-left: 80px;
    }

    .about-right-section::before {
        display: block; 
    }

    .market-solution-content {
        width: 90%;
        padding-block: 30px;
    }

    .market-solution-right-side {
        margin-left: -100px;
    }

    .market-solution-left-side {
        top: -40px;
    }

    .market-solution {
        margin-top: 170px;
    }
}

@media only screen and (min-width:1200px) {
 
    .banner-text {
        font-size: 44px;
        line-height: 60px;
    }

    .banner-image {
        width: 100%;
    }

    .vertical-div {
        height: 700px;
    }

    .vertical-div {
        top: -15%;
        display: block;
    }

    .about-right-section {
        padding-left: 100px;
    }

    .about-right-content { 
        width: 55%;
    }

    .market-solution-content {
        width: 48%;
    }

    .market-sol-bg-color {
        display: block ;
    }
}


@media only screen and (min-width:1400px) {

    .banner-image {
        width: 100%;
    }

    .banner-text {
        font-size: 74px;
        line-height: 88px;
    }

    .vertical-div {
        height: 750px;
    }

    .vertical-div {
        top: -15%;
    }

    .about-right-section {
        padding-left: 120px;
    }

    .about-right-content { 
        width: 45%;
    }

    .market-solution-content {
        width: 40%;
    }
}

@media only screen and (min-width:1900px) {

    .vertical-div {
        height: 818px;
        top: -15%;
    }
    
    .banner-image {
        width: 751px;
        height: 500px;
        left: 20%;
    }

    .about-right-section {
        padding-left: 130px;
    }

    .market-solution-content {
        width: 32%;
    }

    .banner-text{
        padding-left: 0px !important;
    }
}
