* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

.menu-list {
    list-style-type: none !important;
}

.footer-sec {
    font-weight: 400;
    font-size: 15px ;
    color: #414141;
    line-height: 30px; 
    padding-top:160px;
}

ul {
    padding-left: 0px !important;
}

.contact-bg {
    background: #F7F7F7;
    padding: 60px;
}

.founder-bottom {
    padding-bottom: 210px;
}


.bg-square::before {
    content: '';
    background: #1AA2DC !important;
    width:50px;
    height:51px;
    position: absolute;
    top: -16px;
    left: -20px;
    z-index: -1;
}


.started-heading {
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
}

.contact-heading {
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #282828;
 
}

.contact-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #737373 !important;
}

.social-media {
    margin-right:8px !important;
}

.ml-6 {
    margin-left: 20px !important;
}

.founder-name {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.bg-grey {
    background:#fafafa
}


.square-top {
    position: absolute;
    width: 267px;
    height: 290px;
    right:24px;
    top: 0px;
    background: #1AA2DC;
}

.square-bottom {
    position: absolute;
    width: 50px;
    height: 51px;
    left: 1165px;
    top: 773px;
    background: #1AA2DC;
}

.news-top {
    padding-top:166px;
}

.news-bottom {
    padding-bottom:193px;
}

.border-left {
    border-left: 1px dashed rgba(0, 0, 0, 0.2) !important;
}

.news-card {
    height: 375px;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.witty-health::after {
    content:''; 
    position:absolute;
    width: 220px;
    height: 9px;
    left: 0px;
    top: 26px;
    background: rgba(162, 0, 0, 0.2);
}

.news-heading {
    font-weight: 400;
    font-size: 35px;
    color: #282828;
    line-height: 42px;
}

.news-description {
    font-weight: 400;
    font-size: 17px;
    color: #414141;
    line-height: 26px;
}

.product-top {
    padding-top:185px;
}

.product-bottom {
    padding-bottom:113px;
}

.product-bg {
    background:#f9f9f9;
}

.ourproduct::after {
    content:'';
    position: absolute;
    width: 222px;
    height: 9px;
    left: 218px;
    top: 31px;
    background: rgba(162, 0, 0, 0.2);
}

.countsec-bg {
    background: #FBFBFB;
}

.pb-77 {
    padding-bottom:77px;
} 

.count-heading {
    font-weight: 500;
    font-size: 25px;
    color: #282828;
    line-height: 40px;
}

.count-num {
    font-weight: 600;
    font-size: 35px;
    color: #1AA2DC; 
    line-height: 42px;
}

.count-description {
    font-weight: 400;
    font-size: 15px;
    color: #737373;
}

a {
    color: #414141 !important;
    text-decoration: none !important;
}
a:hover {
    color:#189FDA !important;
    cursor:pointer;
}



@media (max-width: 662px) {
    .witty-health::after {
      display: none;
    }
    .ourproduct::after {
        display: none;
      }
    .news-heading {
        text-align: center;
    }
    .news-description {
        text-align: center;
    }
   
  }
  @media (max-width: 768px) {
    .count-section {
        text-align: center;
    }
    .news-top {
        padding-top:60px;
    }
    .news-bottom {
        padding-bottom:60px;
    }
    .product-top {
        padding-top:60px;
    }
    .product-bottom {
        padding-bottom:60px;
    }
    .founder-bottom {
        padding-bottom:60px !important;
    }
    .footer-sec {
        padding-top:80px !important;;
    }
    .news-heading {
        font-size: 24px;
        line-height: 42px;
    }
    .contact-heading {
        font-size: 24px;
        line-height: 42px;
    }
  }

.header-list > li {
    list-style: none;
    line-height: 88px;
    font-size: 15px;
}

.banner-text {
    font-size: 74px;
    line-height: 88px;
    color: #282828;
    font-weight: 600;
}

.menu-icons, .close-icons {
    display: block;
    position: absolute;
    right: 30px;
    top: 16px;
}

.banner-section {
    background-color: #F9F9F9;
    padding-top: 115px;
    font-family: 'Poppins', sans-serif;
}

.header {
    background: #F9F9F9;
    font-family: 'Poppins', sans-serif;
}

.banner-left-content {
    width: 50% !important;
    font-style: normal;
    font-weight: 600;
    font-size: 74px;
    line-height: 88px;
    display: flex;
    align-items: center;
    color: #282828;
}

.vertical-div {
    height: 818px;
    width: 267px;
    position: absolute;
    background-color: #1AA2DC;
    left: 27%;
}

.banner-image{
    position: relative;
    z-index: 1;
    left: 0;
}

.banner-description {
    position: relative;
    width: 50%;
    margin-left: auto !important;
}

.quotes-image {
    position: relative;
    bottom: -25px;
    left: -65px;
}
/* 
.banner-right-content {
    margin-right: 40px;
} */
@media screen and (max-width:640px) {
 
    .header-list > li {
        line-height: 35px;
    }

    .banner-text {
        font-size: 28px;
        line-height: 28px;
    }

    .banner-left-content {
        width: 100% !important;
    }

    .header-list {
        display: none;
    }

    .header {
        padding-block: 33px;
    }
    .vertical-div {
        display: none;
    }
    .banner-image {
        width: 100%;
    }
   
}

@media screen and (min-width:640px) {

    .banner-left-content {
        width: 100% !important;
    }

    .banner-text {
        font-size: 36px;
        line-height: 32px;
    } 

    .header-list > li {
        line-height: 35px;
    }

    .header-list {
        display: none;
    }
    
    .header {
        padding-block: 30px;
    }

    .vertical-div {
        display: none;
    }
    .banner-image {
        width: 100%;
    }
    
}

@media only screen and (min-width:768px) {

    .header-list {
        display: none;
    }

    .header-list > li {
        line-height: 88px;
    }
    
    .header-list {
        display: flex;
    }

    .menu-icons {
        display: none;
    }
    .header {
        padding-block: 0px;
    }
    
    .vertical-div {
        display: none;
    }

    .banner-image {
        width: 100%;
    }
}

@media only screen and (min-width:992px) {
    
    .banner-left-content {
        width: 50% !important;
    }

    .menu-icons {
        display: none;
    }

    .vertical-div {
        display: block;
    }
    
.banner-image {
    width: 100%;
}

.vertical-div {
    height: 650px;
}

.banner-description {
    right: 8% !important;
}
.banner-description {
    margin-top: 175px !important;
}

.vertical-div {
    top: -38%;
}

}

@media only screen and (min-width:1200px) {
 
.banner-text {
    font-size: 44px;
    line-height: 60px;
}

.banner-image {
    width: 100%;
}

.vertical-div {
    height: 700px;
}

.banner-description {
    right:  8% !important;
}
.vertical-div {
    top: -32%;
}

.banner-right-content {
    left: 40px;
}
}


@media only screen and (min-width:1400px) {

.banner-image {
    width: 100%;
}

.banner-text {
    font-size: 74px;
    line-height: 88px;
}

.vertical-div {
    height: 750px;
}

.banner-description {
    right: 12% !important;
}

.vertical-div {
    top: -27%;
}
}

@media only screen and (min-width:1900px) {

 .vertical-div {
    height: 818px;
    top: -23%;
    left: 30%;
}
 .banner-image {
    width: 751px;
    height: 500px;
}


.banner-description {
    right: 10% !important;
}
}


